/* NSkamelon Responsive Wordpress theme by NSclick */
/* CSS For Base Theme */

body{background:url(../images/main-bg.png) repeat-y center top #fff;font-size:11px;font-family:'Open Sans','sans-serif'!important}
*,#wrapper{}
/* width of the content div for all areas, you can make them different by setting the width on each area .content: #header, #main-content, #footer */
.content{width:980px}
/*.content p:first-of-type,.content p:last-of-type{display:none}*/

/* General Styles */
h1, h2, h3, h4, h5, h6{}
h1{}
h2{}
a{}
p{}
ul,ol,li{}
img{}
/* End General Styles */

/* General Elements */
.spacer{padding:5px;height:0}
.hr{background:url(../images/hr-bg.png) center center repeat-x;height:20px;width:100%}
.box_a{border:1px solid #fff;height:196px;position:relative;display:block}
.box_a img, .box_c img.bg{height:100%;width:100%}
.box_b{border:1px solid #fff;height:196px;position:relative;display:block}
.box_c{border:1px solid #fff;height:57px;position:relative;display:block}
.box_b:hover,.box_a:hover, .box_c:hover{border:1px solid rgba(40,80,163,1)}
.box_b img{position:absolute;top:0;left:0;z-index:1;height:100%;width:100%}
.box_b span.title{background:rgba(40,80,163,0.85);display:block;position:absolute;right:0;top:0;padding:10px 20px;color:#fff;z-index:2;font-size:16px}
.box_b span.link{background:#fff;display:block;position:absolute;right:10px;bottom:10px;padding:5px 10px;color:#2850a3;z-index:2;font-size:12px;font-weight:bold;-moz-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);-webkit-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3)}
.box_b span.link2{background:#35a81e;display:block;position:absolute;right:10px;bottom:10px;padding:10px 20px;color:#fff;z-index:2;font-size:14px;border-bottom:1px solid rgba(255,255,255,.5);-webkit-background-clip:padding-box;background-clip:padding-box;-moz-background-clip:padding-box;-ms-background-clip:padding-box}
.box_c img.bg{position:absolute;top:0;left:0;z-index:1}
.box_c span.bg{position:absolute;top:0;left:0;height:0;width:43%;border-bottom:57px solid rgba(40,80,163,0.85);border-right:45px solid transparent;z-index:2}
.box_c .title{color:#fff;font-size:13px;z-index:3;position:absolute;display:table;height:57px;width:196px}
.box_c .title span{display:table-cell;vertical-align:middle;padding:0 0 0 10px;max-width:10px}
#sliderhome .slides article p{padding:0}
/* End General Elements */

/* Header */
#header{}
#header .content{background:#d8d6d6}
#header #toolbar{text-align:right}
#header #toolbar .toolbar-box{display:inline-block;width:350px}
#header #toolbar .toolbar-box span{display:block;margin-bottom:10px}
#header #toolbar .toolbar-box a{color:#2850a3;font-size:10px;float:right;display:block;padding:5px 0}
#header #toolbar .toolbar-box a img{vertical-align:top}
#header #toolbar .toolbar-box .sel{width:170px;height:20px;overflow:hidden;background:url(../images/select-bg.png) no-repeat right;border: 1px solid #dbe1e4;display:block;float:right;margin-left:5px}
#header #toolbar .toolbar-box .sel select{background:transparent;width:198px;padding:0px;font-size:11px;line-height:1;border:0;border-radius:0;height:20px;-webkit-appearance:none;font-size:9px}
#header #toolbar .toolbar-box .sea{display:block;width:100px;border:1px solid #dbe1e4;float:right;margin-left:5px}
#header #toolbar .toolbar-box .sea input{border:1px solid #3056a4;width:76px;height:18px;background:url(../images/search-bg.png) repeat-x top left}
#header #toolbar .toolbar-box .sea button{border-left:1px solid #dbe1e4}
#header #toolbar a.tool{}
#header #toolbar a.tool:hover{}
#header #toolbar a.tool i{}
#header #toolbar a.tool img{}
#header #logo-container{padding:0}
#header #logo-container a#logo{}
#header #logo-container a#logo img{}
#header #logo-container span#slogan{}
#header #menu{}
#header #menu ul#nav{width:100%;display:table;table-layout:fixed}
#header #menu ul#nav .divclear{display:none}
#header #menu ul#nav li{display:table-cell;width:auto;text-align:center;float:none}
#header #menu ul#nav li a{background:#2850a3;color:#fff;text-transform:uppercase;padding:8px 0;border-right:1px solid#4a73c8;border-left:1px solid #11347e;display:block}
#header #menu ul#nav li:first-of-type a{border-left:none}
#header #menu ul#nav li:last-of-type a{border-right:none}
#header #menu ul#nav li a:hover{color:#2850a3;background:#fff}
#header #menu ul#nav li.current-menu-item a{color:#2850a3;background:#fff}
/* End Header */

/* Main Content */
#main-content{}
#main-content .content{background:#d8d6d6}
#main-content img{}
/* Slider destacados */
#main-content .fullwidthbanner-container{width:auto!important}
#main-content #showbiz_carrouselhome_1 .sb-navigation-play{display:none!important}
#main-content #showbiz_carrouselhome_1.showbiz-container{position:relative;height:184px;border:1px solid #fff;border-top:none;background:#c0c0c0}
#main-content #showbiz_carrouselhome_1 .showbiz-navigation{position:absolute;width:100%;height:100%}
#main-content #showbiz_carrouselhome_1 .sb-navigation-left{width:4%;position:absolute;height:100%;left:0;background:url(../images/ico-left-arrow.png) center center no-repeat;border:none}
#main-content #showbiz_carrouselhome_1 .sb-navigation-right{width:4%;position:absolute;height:100%;right:0;background:url(../images/ico-right-arrow.png) center center no-repeat;border:none}
#main-content #showbiz_carrouselhome_1 .sb-navigation-left i,#main-content #showbiz_carrouselhome_1 .sb-navigation-right i{display:none}
#main-content .showbiz{position:absolute;width:92%;height:200px;margin:0 4%}
#main-content .showbiz .overflowholder{margin-top:10px}
#main-content .showbiz .overflowholder ul li .botones{display:none;width:100%}
#main-content .showbiz .overflowholder ul li .botones a.vermas,#main-content .showbiz .overflowholder ul li .botones a.cotizar{display:block;width:48%;color:#fff;padding:5px 0;float:left;background:#66676a;text-align:center;-webkit-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3);box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3)}
#main-content .showbiz .overflowholder ul li .botones a.cotizar{margin-left:4%;background:#35a81e}
#main-content .showbiz .overflowholder ul li{width:154px!important;height:154px!important;padding:3px;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png),url(../images/bg-slice-auto-down.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important;border:1px solid #fff}
#main-content #showbiz_carrouselhome_1 .mediaholder{border:none;padding:0;background:none}
#main-content #showbiz_carrouselhome_1 .mediaholder img{width:167px;height:99px}
#main-content .showbiz h4{color:#2850a3;padding:20px 3px 5px;font-size:14px;}
#main-content .showbiz h4:before{content: "Ford ";font-weight:normal;color:#2850a3}
#main-content .showbiz h4 b{font-weight:bold}
#main-content .showbiz .sprice{color:#46484b;font-weight:bold;font-size:12px;padding:0 3px}
#main-content .showbiz .sprice:before{content: "Desde ";font-weight:normal;color:#46484b;font-style:italic}
#main-content .showbiz .overflowholder ul li:hover{background-color:#fff;background-image:url(../images/bg-slice-auto-up2.png),url(../images/bg-slice-auto-down2.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important}
#main-content .showbiz .overflowholder ul li:hover .sprice{display:none}
#main-content .showbiz .overflowholder ul li:hover h4,#main-content .showbiz .overflowholder ul li:hover h4:before{color:#616368}
#main-content .showbiz .overflowholder ul li:hover h4{padding:10px 3px 5px}
#main-content .showbiz .overflowholder ul li:hover img{filter:none;filter:none;-webkit-filter:none}
#main-content .showbiz .overflowholder ul li:hover .botones{display:block}
/* END Slider destacados */
/* Shortcode Breadcrumbs */
#breadcrumbs{border-bottom:1px solid #e2e2e3;width:100%;padding:20px 0 10px}
#breadcrumbs li{display:inline-block}
#breadcrumbs li:after{content: " >"}
#breadcrumbs li:last-of-type{font-weight:bold}
#breadcrumbs li:last-of-type:after{content:""}
#breadcrumbs li a{font-size:10px}
/* END Shortcode Breadcrumbs */
/* Shotcode Page Title */
h1#page_title{font-size:20px;color:#2850a3;padding:10px 0}
/* END Shotcode Page Title */
/* Grid de elementos: autos nuevos, autos usados y accesorios */
.showcase ul.cate{display:block;width:100%;border-bottom:1px solid #3359a8}
.showcase ul.cate li{display:block;float:left}
.showcase ul.cate li a{color:#46484b;display:block;padding:7px 14px;background:#fff}
.showcase ul.cate li.activ a{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.showcase ul.cate li a:hover{box-shadow:inset 0 -4px 0px -2px #46484b;-moz-box-shadow:inset 0 -4px 0px -2px #46484b;-webkit-box-shadow:inset 0 -4px 0px -2px #46484b;-ms-box-shadow:inset 0 -4px 0px -2px #46484b}
.showcase .cotiza{background:#fff}
.showcase .cotiza .pt1{box-shadow:inset -2px 1px 0px -1px #aaa;-webkit-box-shadow:inset -2px 1px 0px -1px #aaa;-moz-box-shadow:inset -2px 1px 0px -1px #aaa;-ms-box-shadow:inset -2px 1px 0px -1px #aaa}
.showcase .cotiza .pt2{width:50%;margin:0}
.showcase .cotiza .col .section .col .cont{padding:10px 5px}
.showcase .cotiza .col .section .col:first-of-type .cont{padding:10px 0 10px 10px}
.showcase .cotiza .col .section .col:last-of-type .cont{padding:10px 10px 10px 0}
.showcase .cotiza .col .section .col .cont label{display:block;height:15px;margin-bottom:5px}
.showcase .cotiza .col .section .col .cont select{display:block;max-width:100%;min-width:10px;width:100%;border:1px solid #aaa;color:#46484b;height:25px}
.showcase .cotiza .col .section .col .cont input{height:23px;display:block;width:100%;border:1px solid #aaa;width:138px;padding:0 3px}
.showcase .cotiza .col .section .col .cont .btn{height:14px;display:block;width:104px;background:#6bbd00;color:#fff;padding:6px 0 5px 42px;font-size:13px;font-weight:bold;position:relative}
.showcase .cotiza .col .section .col .cont .btn i{position:absolute;right:0;display:block;padding:6px;top:0;border-left:1px solid #fff}
.showcase .cotiza .col .section .col .cont #slider-range{margin-top:12px}
.showcase .filter .col:last-of-type p{text-align:right}
.showcase .filter .col:last-of-type select{border:1px solid #aaa;color:#46484b}
.showcase .showgrid{display:block;width:99%;padding:10px 0.5% 0;background:url(../images/bg-categorias.png) top repeat-x #fff}
.showcase .showgrid li{display:block;width:19%;margin:0 0.5% 10px;float:left;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png),url(../images/bg-slice-auto-down.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23)}
.showcase .showgrid li .cont{display:block;padding:5px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative}
.showcase .showgrid li .cont img{width:100%;height:122px}
.showcase .showgrid li .cont .name{color:#2850a3;font-size:12px;font-weight:bold;display:block;padding:7px 0}
.showcase .showgrid li .cont .price{display:block;color:#414042;font-weight:bold}
.showcase .showgrid li .cont .price:before{content: "Desde "}
.showcase .showgrid li .cont .botones{background:url(../images/bg-item.png) repeat;position:absolute;height:100%;width:100%;top:0;left:0;display:none}
.showcase .showgrid li:hover .cont .botones{display:block}
.showcase .showgrid li .cont .botones a{display:block;width:31%;float:left;padding:5px 20px 5px 2%;background:#000;color:#fff;position:relative;text-align:center}
.showcase .showgrid li .cont .botones a.cotizar{margin:102px 2% 0 4%;background:#ef9e0e;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.showcase .showgrid li .cont .botones a.ver{margin:102px 4% 0 2%;background:#6bbd00;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.showcase .showgrid li .cont .botones a i{position:absolute;top:0;right:0;padding:6px 6px 4px;border-left:1px solid #fff}
.showcase .showgrid li .cont .botones a.cotizar:hover{background:#e08f00}
.showcase .showgrid li .cont .botones a.ver:hover{background:#61ab01}
/* END Grid de elementos: autos nuevos, autos usados y accesorios */
/* End Main Content */

/* Footer */
#footer{background:url(../images/footer-bg.png) repeat-y center top #fff}
#footer .content{background:#aca9a9;border-top:1px solid #616060}
#footer .submenu{padding:0} 
#footer .submenu ul.subnav{}
#footer .submenu ul.subnav.main-nav a{font-weight:bold}
#footer .submenu ul.subnav li.nav-link{}
#footer .submenu ul.subnav li.nav-link a{padding:5px 0}
#footer .submenu ul.subnav li.nav-link:first-of-type a{font-weight:bold}
#footer .submenu ul.subnav li.nav-link a:hover{background:none}
#footer .submenu ul.subnav li.nav-link a i{}
#footer .partners{}
#footer .partners .partner{text-align:right;margin-bottom:10px}
#footer .partners .partner a.partner-logo{}
#footer .partners .partner a.partner-logo img{}
#footer .partners .partner a.partner-logo span.partner-text{}
#footer .copyright{padding:0}
#footer .copyright p{text-align:right;padding:0 0 10px}
#footer .copyright p a{}
/* End Footer */

/* END CSS For Base Theme */
/* Ricardo Escobar */