 /* NSkamelon Responsive Wordpress theme by NSclick */
/* CSS For Base Theme */

body{background:url(../images/main-bg.png) repeat-y center top #fff;font-size:11px;font-family:Tahoma, Arial, Verdana!important}
*,#wrapper{}
/* width of the content div for all areas, you can make them different by setting the width on each area .content: #header, #main-content, #footer */
.content{width:980px}
.hide{display:none}
.mb-on{display:none}
@media only screen and (max-width: 768px){
.mb-no{display:none}
}
.hide{display:none!important}
.ui-dialog{z-index:1200!important}

/* General Styles */
h1, h2, h3, h4, h5, h6{}
h1{}
h2{}
a{}
p{padding:0 0 10px}
ul,ol,li{}
img{}
select{}
/* End General Styles */

/* General Elements */
.spacer{padding:10px;height:0}
.hr{background:url(../images/hr-bg.png) center center repeat-x;height:20px;width:100%}
.box_a{border:1px solid #fff;height:196px;position:relative;display:block}
.box_a img, .box_c img.bg{height:100%;width:100%}
.box_b{border:1px solid #fff;height:196px;position:relative;display:block}
.box_c{border:1px solid #fff;height:57px;position:relative;display:block}
.box_b:hover,.box_a:hover, .box_c:hover{border:1px solid rgba(40,80,163,1)}
.box_b img{position:absolute;top:0;left:0;z-index:1;height:100%;width:100%}
.box_b span.title{background:rgba(40,80,163,0.85);display:block;position:absolute;right:0;top:0;padding:10px 20px;color:#fff;z-index:2;font-size:16px}
.box_b span.link{background:#fff;display:block;position:absolute;right:10px;bottom:10px;padding:5px 10px;color:#2850a3;z-index:2;font-size:12px;font-weight:bold;-moz-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);-webkit-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3)}
.box_b span.link2{background:#35a81e;display:block;position:absolute;right:10px;bottom:10px;padding:10px 20px;color:#fff;z-index:2;font-size:14px;border-bottom:1px solid rgba(255,255,255,.5);-webkit-background-clip:padding-box;background-clip:padding-box;-moz-background-clip:padding-box;-ms-background-clip:padding-box}
.box_c img.bg{position:absolute;top:0;left:0;z-index:1}
.box_c span.bg{position:absolute;top:0;left:0;height:0;width:43%;border-bottom:57px solid rgba(40,80,163,0.85);border-right:45px solid transparent;z-index:2}
.box_c .title{color:#fff;font-size:13px;z-index:3;position:absolute;display:table;height:57px;width:196px}
.box_c .title span{display:table-cell;vertical-align:middle;padding:0 0 0 10px;max-width:10px}
#sliderhome .slides article p{padding:0}
/* End General Elements */

/* Header */
#header{}
#header .content{background:#d8d6d6}
#header #toolbar{text-align:right}
#header #toolbar .toolbar-box{display:inline-block;width:350px}
#header #toolbar .toolbar-box span{display:block;margin-bottom:10px}
#header #toolbar .toolbar-box a{color:#2850a3;font-size:10px;display:block;padding:2px 0;text-align:left;float:right}
#header #toolbar .toolbar-box span a{float:none}
#header #toolbar .toolbar-box span a{padding:0;display:block}
#header #toolbar .toolbar-box a img{vertical-align:top}
#header #toolbar .toolbar-box .sel{width:170px;height:20px;background:url(../images/select-bg.png) no-repeat right;display:block;float:right;margin-left:5px}
#header #toolbar .toolbar-box .sel span{font-size:9px;padding:5px 0 0 5px;display;block;text-align:left}
#header #toolbar .toolbar-box .sea{display:block;float:right;margin-left:5px}
#header #toolbar .toolbar-box .sea input{border:1px solid #3056a4;width:62px;height:18px;background:url(../images/search-bg.png) repeat-x top left;font-size:11px;padding-left:2px;color:#444}
#header #toolbar .toolbar-box .sea button{width:21px;height:20px;background:url(http://forcenter.nsclick.cl/wp-content/themes/nskameleon/camouflage/forcenter/images/ico-search.png);float:right}
#header #toolbar a.tool{}
#header #toolbar a.tool:hover{}
#header #toolbar a.tool i{}
#header #toolbar a.tool img{}
#header #toolbar #quick_call{position:relative}
#header #toolbar #quick_cotizador{display:none;position:absolute;top:100%;background:#fff;padding:5px;z-index:400;width:250px;right:0;-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3)}
#header #toolbar #quick_cotizador span{display:inline-block;margin:0}
#header #toolbar #quick_cotizador .auto span#auto_cant,#header #toolbar #quick_cotizador .auto span#accesorio_cant{display:inline-block}
#header #toolbar #quick_cotizador a.cotizar{background:#6bbd00;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position: relative;color:#fff;padding:5px 30px 5px 10px;display:inline-block}
#header #toolbar #quick_cotizador a.cotizar i{position:absolute;right:0;top:0;border-left:1px solid #fff;padding:6px 6px 4px}
#header #toolbar #quick_cotizador .auto{text-align:left;font-size:11px;font-weight:bold;margin-bottom:5px;border-bottom:1px solid #d8d6d6;position:relative;padding:0 25px 5px 15px;line-height:13px}
#header #toolbar #quick_cotizador .auto i{display:block;padding:3px;position:absolute;top:0;left:0;font-size:8px;color:#d8d6d6}
#header #toolbar #quick_cotizador .auto span{font-size:10px;font-weight:normal;display:block;padding:5px 0 0}
#header #toolbar #quick_cotizador .auto a{display:block;padding:3px;position:absolute;top:0;right:0}
#header #toolbar #quick_cotizador .auto a i{display:inline;padding:0;position:relative;top:auto;right:auto;color:#e23a1c;font-size:16px}
#header #logo-container{padding:0}
#header #logo-container a#logo{}
#header #logo-container a#logo img{}
#header #logo-container span#slogan{}
#header #menu{position:relative;z-index:99}
#header #menu ul#nav{width:100%;display:table;table-layout:fixed}
#header #menu ul#nav .divclear{display:none}
#header #menu ul#nav li{display:table-cell;width:auto;text-align:center;float:none}
#header #menu ul#nav li a{background:#2850a3;color:#fff;text-transform:uppercase;padding:8px 0;border-right:1px solid#4a73c8;border-left:1px solid #11347e;display:block}
#header #menu ul#nav li a i{font-size:7px;margin-left:1px}
#header #menu ul#nav li:first-of-type a{border-left:none;padding:8px 0px 8px}
#header #menu ul#nav li:last-of-type a{border-right:none}
#header #menu ul#nav li a:hover{color:#2850a3;background:#fff}
#header #menu ul#nav li a:hover ul.typemenu{display:block!important}
#header #menu ul#nav li.current-menu-item a{color:#2850a3;background:#fff}
#header #menu ul#nav ul.typemenu{display:none;width:19%;position:absolute;background:#fff;top:27px;left:0;-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);z-index:300}
#header #menu ul#nav ul.typemenu li{display:block;width:100%;background:none;color:#444}
#header #menu ul#nav ul.typemenu li a{display:block;padding:10px 10px;background:none;color:#444;border:none;text-align:left}
#header #menu ul#nav ul.typemenu li a:hover{background:#2850a3;color:#fff}
#header #menu ul#nav ul.typemenu li a i{position:absolute;right:10px;top:auto;left:auto}
#header #menu ul#nav ul.typemenu ul.typesubmenu{display:none;width:85%;position:absolute;left:186px;top:0;width:794px;background:#fff;min-height:124px;-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3)}
#header #menu ul#nav ul.typemenu li:hover ul.typesubmenu{display:block}
#header #menu ul#nav ul.typemenu ul.typesubmenu li{display:block;width:20%;float:left;text-align:center;background:none}
#header #menu ul#nav ul.typemenu ul.typesubmenu li a{padding:3px 3px 5px 3px;display:block;font-size:10px;background:none;color:#444;border:none;text-align:center}
#header #menu ul#nav ul.typemenu ul.typesubmenu li a h4{padding:3px;font-size:11px}
#header #menu ul#nav ul.typemenu ul.typesubmenu li a img{max-width:100%;height:88px}
#header #menu ul#nav ul.typemenu ul.typesubmenu li a:hover{color:#2850a3;-webkit-box-shadow:inset 0px -3px 0px -1px rgba(40,80,163,1);-moz-box-shadow:inset 0px -3px 0px -1px rgba(40,80,163,1);box-shadow:inset 0px -3px 0px -1px rgba(40,80,163,1);background:none}
#header #menu ul#nav ul.typemenu li:first-of-type{width:100%}
#header #menu ul#nav ul.typemenu li:last-of-type{width:100%}
#header #menu ul#nav ul.typemenu ul.typesubmenu li:first-of-type{width:20%}
#header #menu ul#nav ul.typemenu ul.typesubmenu li:last-of-type{width:20%}

/*prueba*/
#header #menu ul#nav{width:100%;display:block;table-layout:auto}
#header #menu ul#nav .divclear{display:block;height:0}
#header #menu ul#nav li{display:block;width:12%;text-align:center;float:left}
#header #menu ul#nav li:first-of-type{width:11%}
#header #menu ul#nav li:last-of-type{width:17%}
/* End Header */

/* Main Content */
#main-content{}
#main-content .content{background:#d8d6d6}
#main-content img{}
/* slider principal */
.rev_slider_wrapper .tp-leftarrow.square-old,.rev_slider_wrapper .tp-rightarrow.square-old{height:17px!important;width:15px!important;background-position:center 0}
.rev_slider_wrapper .bullet{background:#999!important;height:17px!important;border:1px solid #fff;width:17px!important;margin:0 0 0 3px}
.rev_slider_wrapper .bullet.selected{background:#2850a3!important}
.rev_slider_wrapper .tp-leftarrow.square-old{margin:0 -3px}
.rev_slider_wrapper .tp-rightarrow.square-old{margin:0}
/* END slider principal */
/* Slider destacados */
#main-content .fullwidthbanner-container{width:auto!important}
#main-content #showbiz_carrouselhome_1 .sb-navigation-play{display:none!important}
#main-content #showbiz_carrouselhome_1.showbiz-container{position:relative;height:200px;border:1px solid #fff;border-top:none;background:#c0c0c0}
#main-content #showbiz_carrouselhome_1 .showbiz-navigation{position:absolute;width:100%;height:100%}
#main-content #showbiz_carrouselhome_1 .sb-navigation-left{width:2.5%;position:absolute;height:100%;left:0;background:url(../images/ico-left-arrow.png) center center no-repeat;border:none;margin:0;padding:0}
#main-content #showbiz_carrouselhome_1 .sb-navigation-right{width:2.5%;position:absolute;height:100%;right:0;background:url(../images/ico-right-arrow.png) center center no-repeat;border:none;margin:0;padding:0}
#main-content #showbiz_carrouselhome_1 .sb-navigation-left i,#main-content #showbiz_carrouselhome_1 .sb-navigation-right i{display:none}
#main-content .showbiz{position:absolute;width:95.1%;height:200px;margin:0 2.5%}
#main-content .showbiz .overflowholder{margin-top:10px}
#main-content .showbiz .overflowholder ul li .botones{display:none;width:100%}
#main-content .showbiz .overflowholder ul li .botones a.vermas,#main-content .showbiz .overflowholder ul li .botones a.cotizar{display:block;width:48%;color:#fff;padding:5px 0;float:left;background:#66676a;text-align:center;-webkit-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3);box-shadow:inset 0px 0px 2px 0px rgba(0,0,0,0.3)}
#main-content .showbiz .overflowholder ul li .botones a.cotizar{margin-left:4%;background:#35a81e}
#main-content .showbiz .overflowholder ul li{width:174px!important;height:170px!important;padding:3px;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png),url(../images/bg-slice-auto-down.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important;border:1px solid #fff;margin-right:5px}
#main-content #showbiz_carrouselhome_1 .mediaholder{border:none;padding:0;background:none}
#main-content #showbiz_carrouselhome_1 .mediaholder img{width:174px;height:122px}
#main-content .showbiz h4,#main-content .showbiz h2{color:#2850a3;padding:10px 3px 5px;font-size:14px;}
#main-content .showbiz h4:before,#main-content .showbiz h2:before{content: "Ford ";font-weight:normal;color:#2850a3}
#main-content .showbiz h4 b,#main-content .showbiz h2 b{font-weight:bold}
#main-content .showbiz .sprice{color:#46484b;font-weight:bold;font-size:12px;padding:0 3px}
#main-content .showbiz .sprice:before{content: "Desde ";font-weight:normal;color:#46484b;font-style:italic}
#main-content .showbiz .overflowholder ul li:hover{background-color:#fff;background-image:url(../images/bg-slice-auto-up2.png),url(../images/bg-slice-auto-down2.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important}
#main-content .showbiz .overflowholder ul li:hover .sprice{display:none}
#main-content .showbiz .overflowholder ul li:hover h4,#main-content .showbiz .overflowholder ul li:hover h4:before{color:#616368}
#main-content .showbiz .overflowholder ul li:hover h4{padding:10px 3px 5px}
#main-content .showbiz .overflowholder ul li:hover img{filter:none;filter:none;-webkit-filter:none}
#main-content .showbiz .overflowholder ul li:hover .botones{display:block}
/* END Slider destacados */
/* Shortcode Breadcrumbs */
#breadcrumbs{border-bottom:1px solid #e2e2e3;width:100%;padding:20px 0 10px}
#breadcrumbs li{display:inline-block}
#breadcrumbs li:after{content: " >"}
#breadcrumbs li:last-of-type{font-weight:bold}
#breadcrumbs li:last-of-type:after{content:""}
#breadcrumbs li a{font-size:10px}
/* END Shortcode Breadcrumbs */
/* Shotcode Page Title */
h1#page_title{font-size:20px;color:#2850a3;padding:10px 0}
/* END Shotcode Page Title */
/* Grid de elementos: autos nuevos y accesorios */
.showcase ul.cate{display:block;width:100%;border-bottom:1px solid #3359a8}
.showcase ul.cate li{display:block;float:left;margin-top:3px}
.showcase ul.cate li a{color:#46484b;display:block;padding:7px 14px;background:#fff}
.showcase ul.cate li.activ a{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.showcase ul.cate li a:hover{box-shadow:inset 0 -4px 0px -2px #46484b;-moz-box-shadow:inset 0 -4px 0px -2px #46484b;-webkit-box-shadow:inset 0 -4px 0px -2px #46484b;-ms-box-shadow:inset 0 -4px 0px -2px #46484b}
.showcase .cotiza{background:#fff}
.showcase .cotiza .pt1{box-shadow:inset -2px 1px 0px -1px #aaa;-webkit-box-shadow:inset -2px 1px 0px -1px #aaa;-moz-box-shadow:inset -2px 1px 0px -1px #aaa;-ms-box-shadow:inset -2px 1px 0px -1px #aaa}
.showcase .cotiza .pt2{width:50%;margin:0}
.showcase .cotiza .col .section .col .cont{padding:10px 5px}
.showcase .cotiza .col .section .col:first-of-type .cont{padding:10px 0 10px 10px}
.showcase .cotiza .col .section .col:last-of-type .cont{padding:10px 10px 10px 0}
.showcase .cotiza .col .section .col .cont label{display:block;height:15px;margin-bottom:5px}
.showcase .cotiza .col .section .col .cont select{display:block;max-width:100%;min-width:10px;width:100%;border:1px solid #aaa;color:#46484b;height:25px}
.showcase .cotiza .col .section .col .cont input{height:23px;display:block;width:100%;border:1px solid #aaa;width:138px;padding:0 3px}
.showcase .cotiza .col .section .col .cont .btn{height:14px;display:block;width:104px;background:#6bbd00;color:#fff;padding:6px 0 5px 42px;font-size:13px;font-weight:bold;position:relative}
.showcase .cotiza .col .section .col .cont .btn i{position:absolute;right:0;display:block;padding:6px;top:0;border-left:1px solid #fff}
.showcase .cotiza .col .section .col .cont #slider-range{margin-top:12px}
.showcase .filter .col:last-of-type p{text-align:right}
.showcase .filter .col:last-of-type select{border:1px solid #aaa;color:#46484b}
.showcase .filter p{padding:10px}
.showcase .showgrid{display:block;width:99%;padding:10px 0.5% 0;background:#fff}
.showcase .showgrid li{display:block;width:19%;margin:0 0.5% 10px;float:left;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png),url(../images/bg-slice-auto-down.png)!important;background-position:top, bottom!important;background-repeat:repeat-x!important;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23)}
.showcase .showgrid li .cont{display:block;padding:5px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative;min-height:210px}
.showcase .showgrid li .cont img{width:100%;height:122px}
.showcase .showgrid li .cont span{display:block;padding:3px 0 0 0}
.showcase .showgrid li .cont .name{color:#2850a3;font-size:12px;font-weight:bold;display:block;padding:7px 0 0 0}
.showcase .showgrid li .cont .price{display:block;color:#414042;font-weight:bold}
.showcase .showgrid li .cont .price:before{content: "Desde "}
.showcase .showgrid li .cont .botones{background:url(../images/bg-item.png) repeat;position:absolute;height:100%;width:100%;top:0;left:0;display:none}
.showcase .showgrid li:hover .cont .botones{display:block}
.showcase .showgrid li .cont .botones a{display:block;width:31%;float:left;padding:5px 20px 5px 2%;background:#000;color:#fff;position:relative;text-align:center}
.showcase .showgrid li .cont .botones a span{padding:0}
.showcase .showgrid li .cont .botones a.cotizar{margin:102px 2% 0 4%;background:#6bbd00;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.showcase .showgrid li .cont .botones a.ver{margin:102px 4% 0 2%;background:#66676a;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.showcase .showgrid li .cont .botones a i{position:absolute;top:0;right:0;padding:6px 6px 4px;border-left:1px solid #fff}
.showcase .showgrid li .cont .botones a.cotizar:hover{background:#61ab01}
.showcase .showgrid li .cont .botones a.ver:hover{background:#666666}
.showcase.accesorios .showgrid li .cont .botones a.ver{background:#6bbd00}
.showcase.accesorios .showgrid li .cont .botones a.ver:hover{background:#61ab01}
/* END Grid de elementos: autos nuevos y accesorios */
/* Cotizador */
.image_b{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);padding:1px 1px 0 1px}
.article{background:#fff;border-top:1px solid #2850a3}
.cotizador{padding:10px;-webkit-border-image:url(../images/box2-b.png) 30 30 round;border-image:url(../images/box2-b.png) 30 30 round;position:relative}
.cotizador #step1,.cotizador #step2,.cotizador #step3{display:none}
.cotizador #step1.activ,.cotizador #step2.activ,.cotizador #step3.activ{display:block}
.cotizador .tab{display:block;float:left;width:26%;color:#888;font-size:14px;height:23px;color:#666971;font-weight:bold;font-style:italic}
.cotizador .tab.tab1{background:url(../images/bg-tab-grey-left.png) left top;margin:0 4.5% 10px 0;padding:9px 0 0 2%}
.cotizador .tab.tab1 .tail{display:block;height:32px;width:5.8%;background:url(../images/bg-tab-corner-grey-right2.png) right top;position:absolute;top:10px;left:28.7%}
.cotizador .tab.tab2{background:url(../images/bg-tab-grey-center.png);margin:0 4.5% 10px;padding:9px 0 0 0}
.cotizador .tab.tab2 .head{display:block;height:32px;width:5.8%;background:url(../images/bg-tab-corner-grey-left.png) left top;position:absolute;top:10px;left:31.6%}
.cotizador .tab.tab2 .tail{display:block;height:32px;width:5.8%;background:url(../images/bg-tab-corner-grey-right2.png) right top;position:absolute;top:10px;left:62.6%}
.cotizador .tab.tab3{background:url(../images/bg-tab-grey-right.png) right top;margin:0 0 10px 4.5%;padding:9px 2% 0 0}
.cotizador .tab.tab3 .head{display:block;height:32px;width:5.8%;background:url(../images/bg-tab-corner-grey-left.png) left top;position:absolute;top:10px;left:65.5%}
.cotizador .tab.tab1.activ{background:url(../images/bg-tab-blue-left.png) left top;color:#fff}
.cotizador .tab.tab1.activ .tail{background:url(../images/bg-tab-corner-blue-right.png) right top}
.cotizador .tab.tab2.activ{background:url(../images/bg-tab-blue-center.png);color:#fff}
.cotizador .tab.tab2.activ .head{background:url(../images/bg-tab-corner-blue-left2.png) left top}
.cotizador .tab.tab2.activ .tail{background:url(../images/bg-tab-corner-blue-right.png) right top}
.cotizador .tab.tab3.activ{background:url(../images/bg-tab-blue-right.png) right top;color:#fff}
.cotizador .tab.tab3.activ .head{background:url(../images/bg-tab-corner-blue-left2.png) left top}
.cotizador .selector .title{width:100%;border-bottom:1px solid #2850a3;margin:0 0 10px}
.cotizador .selector .title h3{padding:5px 15px;color:#fff;font-size:14px;background:#2850a3;display:inline-block;font-weight:normal}
.cotizador .selector .producto{margin:10px 0;border-bottom:1px solid #c0bfbf;padding:10px 0}
.cotizador .selector .producto .img{float:left;width:32%;margin-right:3%}
.cotizador .selector .producto .img .name,.cotizador .selector .producto .img .price{color:#46484b;font-size:14px;margin-bottom:5px;font-weight:bold}
.cotizador .selector .producto .details{float:left;width:42%;margin-right:3%;padding:38px 0 0 0}
.cotizador .selector .producto .details .select{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2;min-height:24px}
.cotizador .selector .producto .details .select label{width:30%;display:block;float:left;padding-top:4px}
.cotizador .selector .producto .details .select select{width:68%;display:block;float:left;border:1px solid #5a9dd3;color:#666971}
.cotizador .selector .producto .option{float:left;width:20%;padding:38px 0 0 0}
.cotizador .selector .producto .option a{display:block;text-align:center}
.cotizador .selector .producto .option a i{font-size:16px;color:#6581bb;background:#f3f3f3;display:inline-block;padding:2px 4px}
.cotizador .selector .producto .option a:hover{color:#444}
.cotizador .selector .disclaimer{width:100%;padding:10px;text-align:center}
.cotizador .link{text-align:right;padding:10px 0}
.cotizador .link button{color:#fff;font-size:14px;display:inline-block;position:relative;background:url(../images/bg-tab-blue-center.png);font-style:italic}
.cotizador .link button i{position:absolute;top:0;padding:10px 12px}
.cotizador .link button#go1, .cotizador .link button#go2, .cotizador .link button#go3, .cotizador .link button#done{padding:9px 49px 9px 15px;float:right}
.cotizador .link button#go1 i, .cotizador .link button#go2 i, .cotizador .link button#go3 i, .cotizador .link button#done i{right:0;border-left:1px solid #fff}
.cotizador .link button#back2, .cotizador .link button#back3{padding:9px 15px 9px 49px;float:left}
.cotizador .link button#back2 i, .cotizador .link button#back3 i{left:0;border-right:1px solid #fff}
.cotizador #step2 .selector .producto{float:none;width:100%;margin:0}
.cotizador #step2 .selector .producto .details,.cotizador #step3 .selector .producto .details{float:none;width:100%;margin:0;padding:0}
.cotizador .selector .producto .details .select input{width:66%;display:block;float:left;border:1px solid #5a9dd3;color:#666971;padding:2px 1%;font-size:11px}
.cotizador .selector .producto .details .select textarea{width:66%;display:block;float:left;border:1px solid #5a9dd3;color:#666971;padding:2px 1%;height:74px;font-family:'Open Sans','sans-serif'!important;font-size:11px}
.cotizador #step3 .selector .producto{float:none;width:102%;margin:0}
.cotizador #step3 .selector .producto .details .select{margin:0 16px 10px 0;width:44%;float:left}
.cotizador #step3 .selector .producto .details .select label{padding-top:0}
.cotizador .link button#go3 span:last-of-type{display:none}
.cotizador .link button#go3 span:first-of-type{display:inline}
.cotizador .link button#go3.deactiv{background:#999}
.cotizador .link button#go3.deactiv span:first-of-type{display:none}
.cotizador .link button#go3.deactiv span:last-of-type{display:inline}
.cotizador .link button#go3.deactiv i{display:none}
.formErrorContent{position:absolute;top:25px;right:5px;text-align:right;background:#e39c09;color:#111;padding:5px;border-radius:5px}
.formErrorContent:before{content:url(../images/alert-arrow.png);position:absolute;top:-10px;right:10px}
#enviado{text-align:center;padding:50px 0}
/* END Cotizador */
/* Modelos */
.modelo .head .banner .wborder{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);width:612px;float:left}
.modelo .head .banner .wborder img{margin:1px 0 0 1px;width:610px;height:360px}
.modelo .head .banner .text{float:left;padding-left:20px}
.modelo .head .banner .text p{background-color:#fff;background-image:url(../images/bg-slice-auto-up.png),url(../images/bg-slice-auto-down.png);background-position:top, bottom;background-repeat:repeat-x;padding:15px 20px;min-height:330px;border:1px solid #aaa;border-top:1px solid #2850a3;box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);width:306px;text-align:justify;line-height:20px}
.modelo .head .images{margin:20px 0;padding:15px 20px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #aaa}
.modelo .lista,.ui-dialog .lista{border:1px solid #aaa;border-top:1px solid #2850a3;padding:15px;background:#fff;margin-bottom:20px}
.modelo .lista .li,.ui-dialog .lista .li{background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2;margin-bottom:10px}
.modelo .lista .section:last-of-type .li,.ui-dialog .lista .section:last-of-type .li{margin:0}
.modelo .lista .li .span_5_of_12,.ui-dialog .lista .li .span_5_of_12{font-weight:bold;padding:11px 0 0 0;font-size:12px}
.modelo .lista .li .span_2_of_12,.ui-dialog .lista .li .span_2_of_12{font-style:italic;padding:11px 0 0 0}
.modelo .lista .li .span_5_of_12:last-of-type,.ui-dialog .lista .li .span_5_of_12:last-of-type{text-align:right;padding:0}
.modelo .lista .li .span_5_of_12 a,.ui-dialog .lista .li .span_5_of_12 a{color:#fff;font-size:14px;display:block;background:url(../images/bg-tab-blue-center.png);font-style:italic;padding:9px 49px 9px 15px;position:relative;float:right;outline-color:transparent}
.modelo .lista .li .span_5_of_12 a.first,.ui-dialog .lista .li .span_5_of_12 a.first{background:url(../images/bg-btn-verde-s.png);margin-right:10px}
.modelo .lista .li .span_5_of_12 a i,.ui-dialog .lista .li .span_5_of_12 a i{position:absolute;top:0;padding:10px 12px;right:0;border-left:1px solid #fff}
.modelo .lista .sign,.ui-dialog .lista .sign{position:relative}
.modelo .lista .sign span,.ui-dialog .lista .sign span{display:block;font-size:19px;height:50px;background:#2850a3;color:#fff;padding:4px 0 0 40px;margin:0 0 0 -30px;width:125px;position:absolute}
.modelo .lista .sign span:after,.ui-dialog .lista .sign span:after{width:0;height:0;border-top:27px solid transparent;border-bottom:27px solid transparent;border-left:15px solid #2850a3;position:absolute;content:"";top:0px;right:-15px}
.modelo .lista .sign span b,.ui-dialog .lista .sign span b{display:block;font-size:22px}
.modelo .tabla{}
.modelo .tabla .menu{border-bottom:1px solid #2850a3}
.modelo .tabla .menu ul li{float:left;display:block}
.modelo .tabla .menu ul li a{display:block;padding:10px 20px;background:#fff;font-size:12px}
.modelo .tabla .menu ul li a:hover, .modelo .tabla .menu ul li.activ a, .modelo .tabla .menu ul li.activ a:hover{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.modelo .tabla .menu ul li a:hover{font-weight:normal}
.modelo .tabla .lista{border:1px solid #aaa;border-top:none;background:#fff}
.modelo .tabla .lista .row{width:100%;display:table;table-layout:fixed;border-right:1px solid #d7dde2;font-size:12px}
.modelo .tabla .lista .row:first-of-type .cell{background:#2850a3;color:#fff}
.modelo .tabla .lista .row:first-of-type .cell:first-of-type{background:none;color:#444;border:none}
.modelo .tabla .lista .row:last-of-type{border-bottom:1px solid #d7dde2}
.modelo .tabla .lista .row .cell{display:table-cell;width:auto;text-align:center;float:none;border:1px solid #d7dde2;border-bottom:none;border-right:none;padding:5px}
.modelo .tabla .lista .row .cell i{font-size:16px}
i.icon-remove-sign{color:#e23a1c}
i.icon-ok-sign{color:#35a81e}
.modelo .lista .li .span_5_of_12 h2{font-size:12px;padding:0}
/* END Modelos */
/* Version */
.version .head .wborder{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);padding:1px 1px 0 1px}
.version .head .subhead{margin-top:10px}
.version .head .subhead .col.col1, .version .head .subhead .col.col2, .version .head .subhead .col.col3{background-color:#fff;background-image:url(../images/bg-deg.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);color:#666971;height:40px;padding:10px 0}
.version .head .subhead .col.col1{font-size:18px;font-style:italic;font-weight:bold}
.version .head .subhead .col .cont{padding:0 10px}
.version .head .subhead .col.col1 a{display:block;position:relative;padding:2px 0 1px 40px}
.version .head .subhead .col.col1 b{font-size:14px;display:block;margin-bottom:3px}
.version .head .subhead .col.col1 i{color:#2850a3;font-size:41px;position:absolute;top:0;left:0}
.version .head .subhead .col.col2 select{border:1px solid #5a9dd3;color:#666971;margin-top:8px;width:100%}
.version .head .subhead .col.col3{display:table}
.version .head .subhead .col.col3 .cont{display:table-cell;vertical-align:middle}
.version .head .subhead .col.col3 b{font-size:30px}
.version .head .subhead .col.col4{height:60px;padding:0;display:table;position:relative}
.version .head .subhead .col.col4 a{background:url(../images/bg-btn-verde64.png);color:#fff;display:block;height:60px;position:relative;display:table-cell;vertical-align:middle;font-size:18px;font-weight:bold;font-style:italic;padding:0 64px 0 10px;text-align:center}
.version .head .subhead .col.col4 a i{font-size:23px;position:absolute;top:0;right:0;height:22px;border-left:1px solid #fff;padding:19px}
.version .body{margin:20px 0 0 0}
.version .body ul.menu{border-bottom:1px solid #3157a6;width:100%;display:block}
.version .body ul.menu li{float:left;display:block}
.version .body ul.menu li a{background:#fff;color:#666971;font-size:12px;padding:10px 20px;display:block;cursor:pointer}
.version .body ul.menu li a.activ{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.version .body .cont{background:#fff;padding:20px 10px}
.version .body .cont#cont1,.version .body .cont#cont2,.version .body .cont#cont3{display:none}
.version .body .cont#cont1.activ,.version .body .cont#cont2.activ,.version .body .cont#cont3.activ{display:block}
.version .body .cont .color img{margin:10px 0}
.version .body .cont .color ul.chart{display:block;margin:10px 0}
.version .body .cont .color ul.chart li{float:left;margin:0 10px 10px 0;display:block;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-ms-border-radius:2px}
.version .body .cont .color ul.chart li a{display:block;width:21px;height:21px;border:1px solid #dcdfe1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-ms-border-radius:2px}
.version .body .cont .color ul.chart li.activ{-webkit-box-shadow:0px 0px 0px 1px rgba(97,98,99,1);-moz-box-shadow:0px 0px 0px 1px rgba(97,98,99,1);box-shadow:0px 0px 0px 1px rgba(97,98,99,1)}
.version .body .cont .span_8_of_12 .cont{padding:0 10px}
.version .body .cont .span_8_of_12 .cont h4{padding:10px 0;font-size:14px;color:#2850a3}
.version .body .cont .galeria .side{float:left;width:310px;margin-right:30px}
.version .body .cont .galeria .show{float:left;width:610px}
.version .body .cont .galeria .show ul{display:block;margin-top:10px;width:623px}
.version .body .cont .galeria .show ul li{display:block;width:23%;margin:0 2% 10px 0;float:left}
.version .body .cont .tabla .menu2{padding-top:32px}
.version .body .cont .tabla .menu2 li{margin:0 0 0 5px}
.version .body .cont .tabla .menu2 li a{display:block;padding:5px 10px;font-size:14px}
.version .body .cont .tabla .menu2 li a.activ{color:#2850a3;font-weight:bold}
.version .body .cont .tabla table{width:100%}
.version .body .cont .tabla table td{width:48%;border:1px solid #d7dee2;padding:7px 1%;font-size:12px}
.version .body .cont .tabla table td:last-of-type, .version .body .cont .tabla table thead{text-align:center}
.version .body .cont .tabla table thead td:first-of-type{border-top:none;border-left:none;color:#2850a3}
.version .body .cont .tabla table thead td:last-of-type{background:#2850a3;color:#fff}
.version .body .cont .tabla table thead td{font-size:14px;font-weight:bold}
.version .body .cont .tabla table td i{font-size:16px}
.thumb-pic{cursor:pointer}
/* END Version */
/* Servicio - se reutiliza #step3 de cotizador */
#step3.servicio{margin-top:10px}
#step3.servicio .title{position:relative}
#step3.servicio .title span{position:absolute;right:0;top:5px;display:block;text-align:right;color:#666971;font-style:italic}
/* END Servicio */
/* Accesorios - toma la base de showcase de autos nuevos */
.showcase.accesorios .menu{position:relative}
.showcase.accesorios .menu p{position:absolute;text-align:right;top:-20px;right:0}
.showcase.accesorios .showgrid li .cont .botones a.ver{float:none;display:inline-block}
.showcase.accesorios .showgrid li .cont .botones{text-align:right}
/* END Accesorios */
/* Sucursal */
.sucursal{position:relative;margin-bottom:10px}
.sucursal .overlap{width:100%;height:110px;position:relative;background:rgba(40,80,163,1);color:#fff;bottom:0}
.sucursal .overlap h4{font-size:12px}
.sucursal .overlap .par{padding:0 100px 0 0}
.sucursal .overlap .par p{padding:0 10px 5px}
.sucursal .link{position:absolute;right:10px;bottom:10px;z-index:99}
.sucursal .link a{background:#6bbd00;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative;color:#fff;padding:5px 30px 6px 10px;display:block}
.sucursal .link a i{position:absolute;right:0;top:0;border-left:1px solid #fff;padding:6px 6px 4px}
.sucursald ul{display:block;width:100%;border-bottom:1px solid #3359a8}
.sucursald ul li{display:block;float:left}
.sucursald ul li a{color:#46484b;display:block;padding:7px 14px;background:#fff;cursor:pointer}
.sucursald ul li a.activ{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.sucursald ul li a:hover{box-shadow:inset 0 -4px 0px -2px #46484b;-moz-box-shadow:inset 0 -4px 0px -2px #46484b;-webkit-box-shadow:inset 0 -4px 0px -2px #46484b;-ms-box-shadow:inset 0 -4px 0px -2px #46484b}
.sucursald .cont{background:#fff;padding:10px}
.sucursald .cont #mapa{height:280px;border:1px solid #d7dde2}
.sucursald .cont h4{font-size:16px;color:#3359a8;padding:0 0 10px}
.sucursald .cont p{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2}
.sucursald .cont p b{display:block}
.sucursald .cont .galeria{margin-top:20px}
.sucursald .cont .galeria .links{float:left;width:40%}
.sucursald .cont .galeria .links a{display:block;width:48%;margin:0 2% 5px 0;float:left;position:relative;cursor:pointer}
.sucursald .cont .galeria .links a .hov{position:absolute;width:100%;height:100%;background:rgba(255,255,255,0.5);display:block}
.sucursald .cont .galeria .links a:hover .hov, .sucursald .cont .galeria .links a.activ .hov{display:none}
.sucursald .cont .galeria .links a .activo{display:none;position:absolute;height:10px;width:100%;background:#3359a8}
.sucursald .cont .galeria .links a.activ{box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.sucursald .cont .galeria .links a.activ .activo{display:block}
.sucursald .cont .galeria .show{float:left;width:60%}
.sucursald .cont .galeria .show img{border:1px solid #d7dde2}
/* END Sucursal */
/* Repuestos */
ul.lista{border-top:1px solid #2850a3;background:#fff}
ul.lista h4{color:#2850a3;font-size:16px}
ul.lista li{font-size:12px;padding:10px 10px 20px 20px;margin:0 10px 10px;border-bottom:1px solid #d7dde2;position:relative}
ul.lista li:last-of-type{border:none}
ul.lista li i{position:absolute;top:0;left:0;color:#2850a3;padding:10px 5px}
.cotizador.repuestos #step1 .selector .producto .details,.cotizador.repuestos #step2 .selector .producto .details{float:none;width:100%;margin:0;padding:0}
.cotizador.repuestos #step1 .selector .producto,.cotizador.repuestos #step2 .selector .producto{float:none;width:102%;margin:0}
.cotizador.repuestos #step1 .selector .producto .details .select,.cotizador.repuestos #step2 .selector .producto .details .select{margin:0 16px 10px 0;width:44%;float:left}
.cotizador.repuestos #step1 .selector .producto .details .select label,.cotizador.repuestos #step2 .selector .producto .details .select label{padding-top:0}
.cotizador.repuestos .tab{width:42%}
.cotizador.repuestos .tab.tab1 .tail{left:44.3%}
.cotizador.repuestos .tab.tab2 .head{left:47.1%}
.cotizador.repuestos .tab.tab2 .tail{left:93.6%;background:url(../images/bg-tab-grey-right.png) right top}
.cotizador.repuestos .tab.tab2.activ .tail{background:url(../images/bg-tab-blue-right.png) right top}
.cotizador.repuestos h4{padding:10px 0;font-size:13px} 
/* END Repuestos */
/* Desabolladura y Pintura */
.dyp{padding-bottom:10px}
.dyp p{padding:10px}
.dyp #dialog{display:block;margin:10px;border:1px solid #d7dde2;border-top:1px solid #2850a3;padding:10px 85px 10px 10px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;text-align:left;position:relative;background:url(../images/bg-selector.png) top repeat-x #fff;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.dyp #dialog span span{display:block;font-size:18px;border-bottom:1px solid #d7dde2;padding:0 0 3px 0;margin-bottom:3px;font-weight:bold;font-style:italic}
.dyp #dialog span span b{color:#2850a3}
#dialog.ui-state-hover span{color:inherit!important}
.dyp #dialog i{position:absolute;top:0;right:-1px;display:block;padding:18px 26px 19px;color:#fff;background:#2850a3;font-size:36px}
.ui-state-default .ui-icon{background-image:url(../images/ui-icons_FFFFFF_256x240.png)!important}
.ui-widget-header{border:none!important;background:none!important;position:relative!important}
.ui-widget-header button.ui-button{background:#2850a3!important;border:none!important;border-radius:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;-ms-border-radius:0!important;top:8px;right:-3px}
.ui-dialog{border-radius:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;-ms-border-radius:0!important;border:none!important;border-top:1px solid #2850a3!important}
.ui-widget-overlay{opacity:.6!important;filter:Alpha(Opacity=60)!important}
/* END Desabolladura y Pintura */
/* Autos usados */
.iframe{width:100%;height:2000px;overflow-x:hidden!important;background:#fff;border-top:1px solid #2850a3}
/* END Autos usados*/
/* Mapa del sitio */
.mapa_sitio{background:#fff;border-top:1px solid #2850a3;padding:10px}
.mapa_sitio ul li ul li, .mapa_sitio ul li ul li ul li{margin-left:100px}
.mapa_sitio h3{padding:0}
.mapa_sitio ul{padding:5px;font-size:12px}
.mapa_sitio li{border-left:1px solid #d7dde2}
.mapa_sitio a{padding:5px 10px;display:block}
.mapa_sitio b{font-size:16px}
.mapa_sitio i{font-size:14px}
/* END Mapa del sitio */
/* Resultados de búsqueda */
.resultados{padding:0 0 10px}
.resultados h2{font-weight:normal;font-size:12px}
.resultados .result{margin:0 10px 10px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2;min-height:24px}
.resultados .result:last-of-type{margin:0 10px}
.resultados .result h3{padding:0 0 10px;font-size:12px}
.resultados .result:hover{border:1px solid #bbb}
.resultados .result:hover a{color:#333}
/* END Resultados de búsqueda */
/* Seguros */
.seguros{text-align:center}
.seguros img{margin:0 5px 10px;max-width:135px!important;border:1px solid #bbb;padding:5px}
.seguros .featurec{display:inline-block;width:27%;margin:0 5px 10px;padding:0 5px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2}
.seguros .feature{display:table;width:100%;height:50px}
.seguros .feature b{display:table-cell;vertical-align:middle;height:50px;width:100%;line-height:16px}
/* END Seguros */
/* End Main Content */

/* Footer */
#footer{background:url(../images/footer-bg.png) repeat-y center top #fff}
#footer .content{background:#aca9a9;border-top:1px solid #616060}
#footer .submenu{padding:0} 
#footer .submenu ul.subnav{}
#footer .submenu ul.subnav.main-nav a{font-weight:bold}
#footer .submenu ul.subnav li.nav-link{}
#footer .submenu ul.subnav li.nav-link a{padding:5px 0}
#footer .submenu ul.subnav li.nav-link:first-of-type a{font-weight:bold}
#footer .submenu ul.subnav li.nav-link a:hover{background:none}
#footer .submenu ul.subnav li.nav-link a i{}
#footer .partners{}
#footer .partners .partner{text-align:right;margin-bottom:10px}
#footer .partners .partner a.partner-logo{}
#footer .partners .partner a.partner-logo img{}
#footer .partners .partner a.partner-logo span.partner-text{}
#footer .copyright{padding:0}
#footer .copyright p{text-align:right;padding:0 0 10px}
#footer .copyright p a{}
/* End Footer */

/* END CSS For Base Theme */
/* Ricardo Escobar */
/* azul #2850a3 */
