/* NSkamelon Responsive Wordpress theme by NSclick */
/* CSS For Base Theme */

body{background:#d8d6d6;font-size:11px;font-family:'Open Sans','sans-serif'!important}
*,#wrapper{}
/* width of the content div for all areas, you can make them different by setting the width on each area .content: #header, #main-content, #footer */
.content{background:none!important}
#main-content{padding:0 10px}

/* General Styles */
h1, h2, h3, h4, h5, h6{}
h1{}
h2{}
a{}
p{padding:0 0 10px}
ul,ol,li{}
img{}
select{}
/* End General Styles */

/* General Elements */
.spacer{padding:10px;height:0}
.hr{background:url(../images/hr-bg.png) center center repeat-x;height:20px;width:100%}
.box_a{border:1px solid #fff;height:196px;position:relative;display:block}
.box_a img, .box_c img.bg{height:100%;width:100%}
.box_b{border:1px solid #fff;height:196px;position:relative;display:block}
.box_c{border:1px solid #fff;height:57px;position:relative;display:block}
.box_b:hover,.box_a:hover, .box_c:hover{border:1px solid rgba(40,80,163,1)}
.box_b img{position:absolute;top:0;left:0;z-index:1;height:100%;width:100%}
.box_b span.title{background:rgba(40,80,163,0.85);display:block;position:absolute;right:0;top:0;padding:10px 20px;color:#fff;z-index:2;font-size:16px}
.box_b span.link{background:#fff;display:block;position:absolute;right:10px;bottom:10px;padding:5px 10px;color:#2850a3;z-index:2;font-size:12px;font-weight:bold;-moz-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3);-webkit-box-shadow:inset 0px 0px 4px 1px rgba(40,81,161,0.3)}
.box_b span.link2{background:#35a81e;display:block;position:absolute;right:10px;bottom:10px;padding:10px 20px;color:#fff;z-index:2;font-size:14px;border-bottom:1px solid rgba(255,255,255,.5);-webkit-background-clip:padding-box;background-clip:padding-box;-moz-background-clip:padding-box;-ms-background-clip:padding-box}
.box_c img.bg{position:absolute;top:0;left:0;z-index:1}
.box_c span.bg{position:absolute;top:0;left:0;height:0;width:43%;border-bottom:57px solid rgba(40,80,163,0.85);border-right:45px solid transparent;z-index:2}
.box_c .title{color:#fff;font-size:13px;z-index:3;position:absolute;display:table;height:57px;width:196px}
.box_c .title span{display:table-cell;vertical-align:middle;padding:0 0 0 10px;max-width:10px}
#sliderhome .slides article p{padding:0}
/* End General Elements */

/* Header */
#header .logo{border-top:5px solid #2850a3;padding:20px 10px}
#header .logo img{max-width:100%}
/* End Header */

/* Main Content */
/* NO MB*/
#home .rev_slider_wrapper,#home  #rev_slider_1_1_wrapper,#home  #showbiz_carrouselhome_1,#home .hr,#home .box_c,#home .box_b,#home .box_b2,#home #back{display:none!important}
#home .span_4_of_12{width:100%;margin:0;float:none}
#home ul.menu li{display:table;vertical-align:middle;margin-bottom:10px;border:1px solid #fff;color:#46484b;font-style:italic;font-weight:bold;background:url(../images/bg-categorias.png) top repeat-x #fff;font-size:16px;width:100%;position:relative}
#home ul.menu li a{display:table-cell;vertical-align:middle;position:relative;padding:8px 15px}
#home ul.menu li a i.arrow{color:#2850a3;display:block;position:absolute;top:0;right:0;border-left:1px solid #fff;padding:8px 10px}
#home ul.menu li:last-of-type{margin-top:20px}
#home ul.menu li:last-of-type a{background:url(../images/bg-tab-blue-center.png) top repeat-x;color:#ffffff;padding:8px 15px 8px 40px}
#home ul.menu li:last-of-type a i.arrow{color:#fff}
#home ul.menu li:last-of-type a i.icon-phone{color:#fff;position:absolute;display:block;font-size:20px;left:15px}
#back{display:block;padding:3px}
#back a{background:url(../images/bg-tab-blue-center.png);color:#fff;font-size:16px;font-style:italic;font-weight:bold;position:relative;border:1px solid #fff;padding:8px 10px 8px 40px;display:block}
#back a i{color:#2850a3;display:block;position:absolute;top:0;left:0;border-right:1px solid #fff;padding:8px 10px;color:#fff}
/* Shortcode Breadcrumbs */
#breadcrumbs{border-bottom:1px solid #e2e2e3;width:100%;padding:0}
/* END Shortcode Breadcrumbs */
/* Shotcode Page Title */
h1#page_title{font-size:20px;color:#46484b;padding:10px 0;text-align:center;display:none}
#home h1#page_title,
#autos-nuevos h1#page_title,
#cotizador h1#page_title,
#mantenciones h1#page_title,
#servicio-tecnico h1#page_title,
#repuestos h1#page_title,
#desabolladura-y-pintura h1#page_title,
#sucursales h1#page_title,
#sucursal-casa-matriz h1#page_title,
#sucursal-mall-plaza-tobalaba h1#page_title,
#sucursal-mall-plaza-alameda h1#page_title,
#sucursal-seminuevos h1#page_title
{display:block!important}
h1#page_title2{font-size:20px;color:#46484b;padding:10px 0;text-align:center}
h2#subt{font-size:16px;text-align:center;padding:10px 0 0}
/* END Shotcode Page Title */
/* Grid de elementos: autos nuevos, autos usados y accesorios */
.showcase .showgrid li{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png)!important;background-position:top!important;background-repeat:repeat-x!important;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23)}
.showcase .showgrid li .cont{display:block;padding:5px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative;height:50px}
.showcase .showgrid li .cont img{width:72px;height:50px;float:left;margin-right:7px}
.showcase .showgrid li .cont .name{color:#2850a3;font-size:12px;font-weight:bold;display:block;padding:3px 0 3px 10px}
.showcase .showgrid li .cont .price{display:block;color:#414042;font-weight:bold;font-size:12px}
.showcase .showgrid li .cont .price:before{content: "Desde ";font-weight:normal}
.showcase .showgrid li .cont a{display:block;position:absolute;top:0;right:0;color:#fff;background:url(../images/bg-blue.png) 0 -1px repeat-x;padding:22px 17px;font-size:16px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1);box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1)}
/* END Grid de elementos: autos nuevos, autos usados y accesorios */
/* Modelos */
.modelo .head .banner .wborder{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);width:100%;float:left}
.modelo .head .banner .wborder img{margin:1px 0 0 1px}
.modelo .lista{display:block;margin-top:20px}
.modelo .lista li{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-slice-auto-up.png)!important;background-position:top!important;background-repeat:repeat-x!important;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23)}
.modelo .lista li .cont{display:block;padding:5px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative;height:50px}
.modelo .lista li .cont img{width:72px;height:50px;float:left;margin-right:7px}
.modelo .lista li .cont .name{color:#2850a3;font-size:12px;font-weight:bold;display:block;padding:3px 0 3px 10px}
.modelo .lista li .cont .price{display:block;color:#414042;font-weight:bold;font-size:12px}
.modelo .lista li .cont .price:before{content: "Desde ";font-weight:normal}
.modelo .lista li .cont a{display:block;position:absolute;top:0;right:0;color:#fff;background:url(../images/bg-blue.png) 0 -1px repeat-x;padding:22px 17px;font-size:16px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1);box-shadow:inset 0px 0px 0px 1px rgba(40,80,163,1)}
/* END Modelos */
/* Version */
.version .head .wborder{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);padding:1px 1px 0 1px;margin-top:10px}
.version .head .subhead .col.col2, .version .head .subhead .col.col3{background-color:#fff;background-image:url(../images/bg-deg.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);color:#666971;height:40px;padding:10px 0;width:60%}
.version .head .subhead .col .cont{padding:0 10px}
.version .head .subhead .col.col2{display:block;margin:0}
.version .head .subhead .col.col2 .cont{display:table-cell;vertical-align:middle}
.version .head .subhead .col.col2 .cont h4{padding:0;font-size:16px}
.version .head .subhead .col.col3{display:block;width:49.8%;text-align:right;background:url(../images/bg-blue.png) top center repeat-x;color:#fff;margin:0;width:40%}
.version .head .subhead .col.col3 .cont{display:block;text-align:right}
.version .head .subhead .col.col3 b{font-size:18px;display:block;font-style:italic}
.version .body{margin:20px 0 0 0}
.version .body .menu{border:1px solid #fff;text-align:center;margin-bottom:10px}
.version .body .menu i{display:block;background:#2850a3;color:#fff;font-size:16px;padding:10px 0;width:10%;float:left}
.version .body .menu span{float:left;width:80%;display:block;padding:10px 0 11px;background:url(../images/bg-categorias.png) top repeat-x #fff;font-size:16px;color:#2850a3;font-style:italic;font-weight:bold}
.version .body .cont{background:#fff;padding:10px}
.version .body .cont p{padding:0}
.version .contec{display:table;margin-top:20px;width:100%}
.version .contec a.cotizar{display:table-cell;text-align:center;color:#fff;font-weight:bold;font-style:italic;font-size:16px;background:url(../images/bg-btn-verde64.png) repeat-x top;vertical-align:middle;height:40px}
.version .contec a.cotizar img{vertical-align:middle}
.version #page_title{}
/* END Version */
/* Cotizador */
.image_b{-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);padding:1px 1px 0 1px}
#cotizador #main-content .content .span_4_of_12,#cotizador #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#cotizador #main-content .content .span_4_of_12 .box_b{display:none}
#cotizador #main-content .content .span_4_of_12{padding:10px;background:#fff;border-top:1px solid #2850a3;margin-top:-10px;width:auto}
#cotizador #main-content .content .span_4_of_12 p{padding:0 0 5px 0}
.cotizador .selector .title{width:100%;border-bottom:1px solid #2850a3}
.cotizador .selector .title h3{padding:5px 15px;color:#fff;font-size:14px;background:#2850a3;display:inline-block;font-weight:normal}
.cotizador .selector .producto{padding-top:10px}
.cotizador .selector .producto .img{float:left;width:32%;margin-right:3%}
.cotizador .selector .producto .img .name,.cotizador .selector .producto .img .price{color:#46484b;font-size:14px;margin-bottom:5px;font-weight:bold}
.cotizador .selector .producto .details .select{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2;min-height:24px}
.cotizador .selector .producto .details .select label{display:block;margin-bottom:5px}
.cotizador .selector .producto .details .select input{display:block;border:1px solid #5a9dd3;color:#666971;font-size:14px;padding:2px 1%;width:98%}
.cotizador .selector .producto .details .select textarea{display:block;border:1px solid #5a9dd3;color:#666971;font-size:14px;padding:2px 1%;width:98%;height:75px}
.cotizador .selector .producto .details .select select{display:block;border:1px solid #5a9dd3;color:#666971;font-size:14px;padding:2px 0;width:100%}
.cotizador .link{text-align:right;padding:10px 0}
.cotizador .link button{color:#fff;font-size:14px;display:inline-block;position:relative;background:url(../images/bg-tab-blue-center.png);font-style:italic}
.cotizador .link button i{position:absolute;top:0;padding:10px 12px}
.cotizador .link button#go3{padding:9px 49px 9px 15px;display:inline-block}
.cotizador .link button#go3 i{right:0;border-left:1px solid #fff}
/* END Cotizador */
/* Mantenciones */
#mantenciones #main-content .content .span_4_of_12,#mantenciones #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#mantenciones #main-content .content .span_4_of_12{display:none}
#mantenciones #main-content .content .span_4_of_12{padding:10px;background:#fff;border-top:1px solid #2850a3;margin-top:-10px;width:auto;margin-bottom:10px}
#mantenciones #main-content .content .span_4_of_12 p{padding:0 0 5px 0}
#mantenciones .intro{margin-bottom:10px}
#mantenciones .intro h4{padding:0 15px;color:#2850a3;font-size:16px}
#mantenciones .intro ul li{vertical-align:middle;padding:15px;background:url(../images/hr-bg.png) bottom repeat-x}
#mantenciones .intro ul li i{font-size:16px;color:#9fc82b}
#mantenciones .intro p{padding:0 15px 15px}
/* END Mantenciones */
/* Servicio - se reutiliza #step3 de cotizador */
#servicio-tecnico #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#servicio-tecnico #main-content .content .span_4_of_12{display:none}
#step3.servicio .title{position:relative}
#step3.servicio .title span{position:absolute;right:0;top:5px;display:block;text-align:right;color:#666971;font-style:italic}
#servicio-tecnico .intro{margin-bottom:10px}
#servicio-tecnico .intro h4{padding:0 15px;color:#2850a3;font-size:16px}
#servicio-tecnico .intro ul li{vertical-align:middle;padding:15px;background:url(../images/hr-bg.png) bottom repeat-x}
#servicio-tecnico .intro ul li i{font-size:16px;color:#9fc82b}
#servicio-tecnico .intro p{padding:0 15px 15px}
/* END Servicio */
/* Repuestos */
#repuestos #main-content .content .span_4_of_12,#repuestos #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#repuestos #main-content .content .span_4_of_12 .box_b{display:none}


/*dyp*/
#desabolladura-y-pintura #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#desabolladura-y-pintura #main-content .content .span_4_of_12{display:none}
#desabolladura-y-pintura .intro{margin-bottom:10px}
#desabolladura-y-pintura .intro h4{padding:0 15px;color:#2850a3;font-size:16px}
#desabolladura-y-pintura .intro ul li{vertical-align:middle;padding:15px;background:url(../images/hr-bg.png) bottom repeat-x}
#desabolladura-y-pintura .intro ul li i{font-size:16px;color:#9fc82b}
#desabolladura-y-pintura .intro p{padding:0 15px 15px}
/*dyp*/
.cotizador.repuestos #step1 .selector .producto .details,.cotizador.repuestos #step2 .selector .producto .details{float:none;width:100%;margin:0;padding:0}
.cotizador.repuestos #step1 .selector .producto,.cotizador.repuestos #step2 .selector .producto{float:none;width:102%;margin:0}
.cotizador.repuestos #step1 .selector .producto .details .select,.cotizador.repuestos #step2 .selector .producto .details .select{margin:0 16px 10px 0;width:44%;float:left}
.cotizador.repuestos #step1 .selector .producto .details .select label,.cotizador.repuestos #step2 .selector .producto .details .select label{padding-top:0}
.cotizador.repuestos .tab{width:42%}
.cotizador.repuestos .tab.tab1 .tail{left:44.3%}
.cotizador.repuestos .tab.tab2 .head{left:47.1%}
.cotizador.repuestos .tab.tab2 .tail{left:93.6%;background:url(../images/bg-tab-grey-right.png) right top}
.cotizador.repuestos .tab.tab2.activ .tail{background:url(../images/bg-tab-blue-right.png) right top}
.cotizador.repuestos h4{padding:10px 0;font-size:13px} 
#repuestos #main-content .content .span_8_of_12{width:100%;margin:0;float:none}
#repuestos #main-content .content .span_4_of_12{display:none}
#repuestos .intro{margin-bottom:10px}
#repuestos .intro h4{padding:0 15px;color:#2850a3;font-size:16px}
#repuestos .intro ul li{vertical-align:middle;padding:15px;background:url(../images/hr-bg.png) bottom repeat-x}
#repuestos .intro ul li i{font-size:16px;color:#9fc82b}
#repuestos .intro p{padding:0 15px 15px}
/* END Repuestos */




/* Accesorios - toma la base de showcase de autos nuevos */
.showcase.accesorios .menu{position:relative}
.showcase.accesorios .menu p{position:absolute;text-align:right;top:0;right:0}
.showcase.accesorios .showgrid li .cont .botones a.ver{float:none;display:inline-block}
.showcase.accesorios .showgrid li .cont .botones{text-align:right}
/* END Accesorios */
/* Sucursal */
.sucursal{position:relative;margin-bottom:10px}
.sucursal .overlap{background:rgba(40,80,163,0.7);color:#fff}
.sucursal .overlap .par{padding:0 10px}
.sucursal .link{position:absolute;right:20px;bottom:20px}
.sucursal .link a{background:#6bbd00;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);position:relative;color:#fff;padding:15px 30px 15px 10px;display:block}
.sucursal .link a i{position:absolute;right:0;top:0;border-left:1px solid #fff;padding:16px 6px 13px}
.sucursald ul{display:block;width:100%;border-bottom:1px solid #3359a8}
.sucursald ul.sucursales{display:none}
.sucursald ul li{display:block;float:left}
.sucursald ul li a{color:#46484b;display:block;padding:7px 14px;background:#fff;cursor:pointer}
.sucursald ul li a.activ{font-weight:bold;box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.sucursald ul li a:hover{box-shadow:inset 0 -4px 0px -2px #46484b;-moz-box-shadow:inset 0 -4px 0px -2px #46484b;-webkit-box-shadow:inset 0 -4px 0px -2px #46484b;-ms-box-shadow:inset 0 -4px 0px -2px #46484b}
.sucursald .cont.activa{display:block}
.sucursald .cont{background:#fff;padding:10px;display:block}
.sucursald .cont h4{font-size:16px;color:#3359a8;display:none}
.sucursald .cont p{display:block;margin:0 0 10px;background-color:#fff;background-image:url(../images/bg-selector.png);background-position:top;background-repeat:repeat-x;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.23);padding:10px;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);border:1px solid #d7dde2}
.sucursald .cont p b{display:block}
.sucursald .cont #mapa{height:250px;width:100%}
.sucursald .cont .span_5_of_12{float:right;margin:0!important;width:100%}
.sucursald .cont .span_7_of_12{float:right;margin:0 0 10px!important;width:100%;}
.sucursald .cont .galeria{margin-top:20px}
.sucursald .cont .galeria .links{float:left;width:100%}
.sucursald .cont .galeria .links a{display:block;width:19%;margin:0 1% 5px 0;float:left;position:relative;cursor:pointer}
.sucursald .cont .galeria .links a .hov{position:absolute;width:100%;height:100%;background:rgba(255,255,255,0.5);display:block}
.sucursald .cont .galeria .links a:hover .hov, .sucursald .cont .galeria .links a.activ .hov{display:none}
.sucursald .cont .galeria .links a .activo{display:none;position:absolute;height:10px;width:100%;background:#3359a8}
.sucursald .cont .galeria .links a.activ{box-shadow:inset 0 -4px 0px -2px #3359a8;-moz-box-shadow:inset 0 -4px 0px -2px #3359a8;-webkit-box-shadow:inset 0 -4px 0px -2px #3359a8;-ms-box-shadow:inset 0 -4px 0px -2px #3359a8}
.sucursald .cont .galeria .links a.activ .activo{display:block}
.sucursald .cont .galeria .show{float:left;width:100%}
.sucursald .cont .galeria .show img{border:1px solid #d7dde2}
#sucursales .span_6_of_12{width:100%;margin:0}
/* END Sucursal */

/* Desabolladura y Pintura */
.dyp{padding-bottom:10px}
.dyp p{padding:10px}
.dyp #dialog, .ui-state-hover{display:block;margin:10px;border:1px solid #d7dde2;border-top:1px solid #2850a3;padding:10px 85px 10px 10px;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;text-align:left;position:relative;background:url(../images/bg-selector.png) top repeat-x #fff;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)}
.dyp #dialog span span{display:block;font-size:18px;border-bottom:1px solid #d7dde2;padding:0 0 3px 0;margin-bottom:3px;font-weight:bold;font-style:italic}
.dyp #dialog span span b{color:#2850a3}
#dialog.ui-state-hover span{color:inherit!important}
.dyp #dialog i{position:absolute;top:0;right:-1px;display:block;padding:18px 26px 19px;color:#fff;background:#2850a3;font-size:36px}
/* END Desabolladura y Pintura */
/* End Main Content */

/* Footer */
#footer a{font-size:12px;display:block;text-align:center;padding:10px 0}
/* End Footer */

/* FIX FOR PRESENTATION: REMOVE LATER */
/* #repuestos .image_b,#mantenciones .image_b,#servicio-tecnico .image_b,#desabolladura-y-pintura .image_b {display:none;}*/

/* END CSS For Base Theme */
/* Ricardo Escobar */
